body {
  background-image: url(footer_lodyas.png);
  font-family: "Roboto Slab", sans-serif;
  font-size: 18px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1 9% 1% 1fr 10fr 10fr 10fr 10fr 1%;
}

header {
  grid-column: 1/13;
}

.headimg {
  width: 100%;
  height: auto;
}

nav,
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
}

a {
  text-decoration: none;
  font-family: "Roboto Slab", sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: black;
}

nav {
  display: grid;
  grid-area: "nav";
  grid-column: 1/13;
  padding: 5px;
  z-index: 5;
}

.menu {
  display: grid;
  width: 100%;
  height: 50px;
  background-color: whitesmoke;
  opacity: 0.9;
  grid-auto-columns: minmax(100px, 20%);
  grid-auto-flow: column;
}

.menu > li {
  background-color: whitesmoke;
  line-height: 50px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid black;
  transition: all 0.3s 0.01s ease;
}

.menu > li:hover {
  background: rgb(236, 138, 40);
}

.name {
  grid-column: 2/12;
  margin: 1em;
  text-align: center;
  background: rgb(236, 138, 40);
}
p {
  color: whitesmoke;
  font-weight: 500;
}
#info-text {
  grid-row: 5/6;
  grid-column: 2/12;

  text-align: justify;
  margin: 1em;
  padding: 1em;
}
.orange-text {
  color: rgb(236, 138, 40);
  font-weight: 600;
}

#galery-box {
  grid-row: 6/7;
  grid-column: 2/12;
  position: relative;
  left: 15%;
  box-sizing: border-box;
  width: 70%;
}

.slides {
  display: none;
}

.demo-cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.637);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.galery-photo {
  width: 100%;
  height: auto;
}

.number-text {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  font-size: larger;
  top: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.demo-cursor {
  opacity: 0.6;
  width: 100%;
}

.active,
.demo-cursor:hover {
  opacity: 1;
}

#text-photo-box {
  grid-row: 7/8;
  grid-column: 2/12;
  text-align: justify;
  margin: 1em;
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.box-text {
  flex: 1;
  flex-basis: 200px;
  align-self: center;
  margin: 1em;
}

.box-photo {
  flex: 1;
  flex-basis: 200px;
  align-self: center;
  margin: 1em;
}

#programs-info {
  grid-row: 8/9;
  grid-column: 2/12;
}
#programs-list {
  list-style-image: url(../icons/fire.png);
  color: #f2f2f2;
}
footer {
  grid-column: 1/13;
  grid-row: 9/10;
}

.links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.links a {
  display: flex;
  flex-basis: 100px;
  margin: 1em;
}

.youtube {
  width: 100%;
  height: auto;
}

.insta {
  width: 100%;
  height: auto;
}

.fb {
  width: 92%;
  height: auto;
}
