body {
  background-image: url(footer_lodyas.png);
  font-family: "Roboto Slab", sans-serif;
  font-size: 18px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1 9% 1% 1fr 10fr 1%;
}

header {
  grid-column: 1/13;
}

.headimg {
  width: 100%;
  height: auto;
}

nav,
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
}

a {
  text-decoration: none;
  font-family: "Roboto Slab", sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: black;
}

nav {
  display: grid;
  grid-column: 1/13;
  padding: 5px;
  z-index: 5;
}

.menu {
  display: grid;
  width: 100%;
  height: 50px;
  background-color: whitesmoke;
  opacity: 0.9;
  grid-auto-columns: minmax(100px, 20%);
  grid-auto-flow: column;
}

.menu > li {
  background-color: whitesmoke;
  line-height: 50px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid black;
  transition: all 0.3s 0.01s ease;
}

.menu > li:hover {
  background: rgb(236, 138, 40);
}

.name {
  grid-column: 2/12;
  margin: 1em;
  text-align: center;
  background: rgb(236, 138, 40);
}

#constructorForm {
  grid-column: 3/11;
  grid-row: 5/6;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#progButtons {
  color: rgb(236, 138, 40);
  order: 1;
}

#progButtons label {
  cursor: pointer;
  border: 2px solid rgb(236, 138, 40);
  font-size: large;
  margin: 5px;
  padding: 10px;
  display: inline-block;
}

#progButtons input[type="radio"] {
  display: none;
}

#progButtons input[type="radio"]:checked + label {
  background: whitesmoke;
  color: black;
  border: 2px solid rgb(236, 138, 40);
  opacity: 0.9;
}

#progButtons label:hover {
  color: whitesmoke;
  transition: all 0.3s 0.01s ease;
}

#canvaPic {
  order: 2;
}

#price {
  order: 3;
  margin: 1em;
  font-weight: 600;
}

#priceInput {
  width: 100px;
  text-align: center;
  padding: 10px;
  font-size: x-large;
}

#extraOptions {
  order: 4;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.fireOnly {
  display: inline;
}

#artistsRange {
  color: rgb(236, 138, 40);
  font-weight: 600;
  display: block;
}

#artists {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

#artists:hover {
  opacity: 1;
}

#artists::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: rgb(236, 138, 40);
  cursor: pointer;
}

#nameForArtistsRange {
  margin: 1em;
}

.artistNumbers {
  margin: 2em;
}

#numbers > li {
  white-space: nowrap;
}

#numbers {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  width: 100%;
  text-align: center;
  grid-auto-columns: minmax(20%);
  grid-auto-flow: column;
}

#tickmarks option {
  display: inline;
  width: 10px;
  font-size: large;
  color: whitesmoke;
}

#additions {
  color: rgb(236, 138, 40);
  margin: 2em;
  line-height: 70%;
}

input[type="checkbox"] {
  display: none;
}

#additions label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

#additions label::before {
  content: "";
  display: inline-block;
  height: 14px;
  width: 14px;
  border: 2px solid #939598;
  margin: 5px;
  display: flex;
  align-items: center;
}

#additions input[type="checkbox"]:checked + label::before {
  content: "✓";
  font-weight: 800;
  color: rgb(236, 138, 40);
  border: 2px solid #fff;
  width: 14px;
  height: 14px;
  margin: 5px;
}

.order {
  order: 5;
}

.order-form {
  text-align: center;
  display: table;
  width: auto;
  margin: 15px auto;
  padding: 15px;
  font-weight: 700;
  cursor: pointer;
  border: 2px solid rgba(255, 130, 4, 0.699);
  background: rgb(236, 138, 40);
  color: black;
  transition: all 0.1s 0.01s ease;
}
.order-form:hover {
  background: rgba(255, 130, 4, 0.699);
}

#orderWindow {
  display: none;
  margin: 10%;
  border: 5px solid rgba(255, 130, 4, 0.699);
  box-shadow: 0 0 1000px 100px rgb(0, 0, 0);
  position: fixed;
  z-index: 10;
  width: 79%;
  height: 70%;
  background-image: url(footer_lodyas.png);
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  padding: 0%;
}

#order-form-name {
  grid-row: 1/2;
  grid-column: 3/7;
  text-align: center;
  display: table;
  margin: 20px;
  padding: 10px;
  font-weight: 900;
  border: 2px solid rgb(236, 138, 40);
  background: white;
  color: black;
}

#final-order-form {
  grid-row: 3/8;
  grid-column: 2/8;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

#name-form {
  grid-row: 1/3;
  grid-column: 1/3;
  color: rgb(236, 138, 40);
}

#phone-form {
  grid-row: 3/5;
  grid-column: 1/3;
  color: rgb(236, 138, 40);
}

#city-form {
  grid-row: 1/3;
  grid-column: 3/5;
  color: rgb(236, 138, 40);
}

#data-form {
  grid-row: 3/5;
  grid-column: 3/5;
  color: rgb(236, 138, 40);
}

#buttons-form {
  grid-row: 6/7;
  grid-column: 1/5;
}

#back-button {
  text-align: center;
  display: inline;
  margin: 15px;
  padding: 15px;
  font-weight: 700;
  border: 2px solid rgba(255, 130, 4, 0.699);
  background: rgb(236, 138, 40);
  color: black;
  position: relative;
  left: 15%;
  transition: all 0.3s 0.01s ease;
}

#back-button:hover {
  background: rgba(255, 130, 4, 0.699);
}

#submit-form {
  text-align: center;
  display: inline;
  margin: 15px;
  padding: 15px;
  font-weight: 700;
  border: 2px solid rgba(255, 130, 4, 0.699);
  background: rgb(236, 138, 40);
  color: black;
  position: relative;
  left: 25%;
  transition: all 0.1s 0.01s ease;
}

#submit-form:hover {
  background: rgba(255, 130, 4, 0.699);
}

footer {
  grid-column: 1/13;
  grid-row: 9/10;
}

.links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.links a {
  display: flex;
  flex-basis: 100px;
  margin: 1em;
}

.youtube {
  width: 100%;
  height: auto;
}

.insta {
  width: 100%;
  height: auto;
}

.fb {
  width: 92%;
  height: auto;
}
